@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
    --backgroundColor: #303030;
    --backgroundColorLight: #434343;
    --mainColor: #f207a0;
    --secondaryColor: #a6a6a6;
    --secondaryColorLight: #d0d0d0;
    --mainColorLight: #f291d8;
    --mainColorBright: #f207b4;
}

* {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {}

h1 {
    color: var(--secondaryColorLight);
    font-weight: 300;
    font-size: 5em;
    text-align: center;
    /* text-shadow: 0 0 8px var(--mainColorLight); */
}

h2 {
    color: var(--secondaryColorLight);
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    /* text-shadow: 0 0 4px var(--mainColorLight); */
}

header {
    width: 100%;
    display: grid;
    grid-template-areas:
        "nav logo";
    background: linear-gradient(90deg,
            var(--secondaryColor),
            var(--secondaryColorLight));
    border-radius: 10px;
    box-shadow: 0 0 15px var(--mainColorLight);
}

.imgContainer {
    height: 180px;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    grid-area: logo;
}

.header-logo {
    max-width: 100%;
    height: 180px;
}

.navBar ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    /* border: 2px solid black; */
    padding: 0.25em;
    margin: 0;
    font-weight: 600;
    grid-area: nav;
}

.navBar ul li {
    padding: 0.25em;
}

.nav-link {
    color: var(--backgroundColor);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    transition: transform 0.3s ease;
}

.nav-link:hover {
    text-shadow: 0 0 3px var(--mainColorLight);
    color: var(--backgroundColor);
    transform: scale(1.1);
    display: inline-block;
}

.header-logo {
    filter: drop-shadow(0 0 3px var(--backgroundColor));
}

.close-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.menu-toggle {
    display: none;
    background-color: var(--backgroundColor);
    width: 100%;
    color: var(--secondaryColor);
    cursor: pointer;
}

.menu-toggle:hover {
    box-shadow: 0 0 5px var(--mainColor);
    text-shadow: 0 0 2px var(--mainColor);
}


/* CONTACT PAGE */
.map-container {
    display: flex;
    justify-content: center;
}

.map {
    border-radius: 10px;
    box-shadow: 0 0 15px var(--mainColorLight);
}

.contact-form {
    width: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;
    color: var(--secondaryColorLight);
    align-items: center;
}

.input-fields {
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
    background-color: var(--secondaryColorLight);
}

.input-labels {
    padding-top: 1em;
    padding-bottom: 0.25em;
}

#contactSubmit {
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    background-color: var(--secondaryColorLight);
    color: var(--backgroundColor);
    border-radius: 5px;
    height: 40px;
    width: 50%;
    max-width: 500px;
}

#contactSubmit:hover {
    box-shadow: 0 0 8px var(--mainColorLight);
}

.input-fields:hover {
    box-shadow: 0 0 8px var(--mainColorLight);
}

.input-fields:focus {
    box-shadow: 0 0 8px var(--mainColorLight);
    outline: none;
    border: 2px solid var(--mainColor);
    background-color: white;
}

/* CONTACT PAGE END */
/* FOOTER */
footer {
    width: 100%;
    background-color: var(--backgroundColorLight);
}

.social-buttons {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.social-links {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--mainColor);
}

.social-links:hover {
    text-shadow: 0 0 8px var(--secondaryColorLight);
}

/* FOOTER END */

@media screen and (max-width: 700px) {
    header {
        justify-content: center;

    }

    .header-logo {
        height: 150px;
    }

    .navBar {
        display: none;
    }

    .menu-toggle {
        margin-left: 0;
        margin-top: 10px;
        display: block;
    }

    .imgContainer {
        flex-direction: column;
        align-items: center;
    }

    .close-menu.show-nav-menu {
        display: flex;
        outline: none;
        color: var(--backgroundColor);
        align-items: center;
        transition: transform 0.3s ease;
    }

    .close-menu.show-nav-menu:hover {
        color: var(--mainColorLight);
        text-shadow: 0 0 6px var(--mainColor);
        transform: scale(1.1);
    }

    .navBar.show-nav-menu {
        display: flex;
    }

    .nav-link.show-nav-menu {
        transition: all
    }

    .imgContainer.show-nav-menu {
        display: none;
    }
}